<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <main>
        <section class="form-box">
            <h2>Sign Up</h2>
            <form action="/signup" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Sign Up">
            </form>
            <p>Already have an account? <a href="{{ url_for('index') }}">Login</a></p>
        </section>
    </main>
</body>
</html>
